@charset "UTF-8";

*{
    margin: 0px;
    padding:0px;
}

body,html{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: black url('https://images.pexels.com/photos/355915/pexels-photo-355915.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center;
    background-size: cover;
}

header>h1{
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 5em;
    color: white;
    text-align: center;
}

section{
    height: 470px;
    width: 710px;
    padding: 10px;
    margin: auto;
    background-color: rgba(19, 19, 194, 0.699);
    border-radius: 100px 0px;
}

label{
    color: white;
    margin-left: 60px;
    font-size: 2em;
}

input{
    margin-top: 20px;
    height: 30px;
    padding-top:10px;
    font-size: 1.5em;
    width: 240px;
}

.botao{
    width: 160px;
    height:45px;
    font-size: 1.3em;
    font-weight: bold;
}

select{
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    width: 500px;
    font-size: 1.6em;
}